* {
    font-family:Arial, Helvetica, sans-serif ;
    margin: 13px;
    
}

.top {
    display: flex;
    justify-content: space-between;
}

.score {
    color: rgb(158, 53, 255);
}

main {
    
    text-align: center;
    margin-top: 10%;
}

 button {
    
    color: white;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 5px;
    padding: 0.5rem 1.2rem;
    text-transform: none;
    border: none;
    overflow: visible;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(58, 1, 105);
    width: max-content;
}

#option-btns {
    display: flex;
    flex-direction: column;

}

.question-one {
    display: none;
}

.question-two {
    display: none;
}